<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Hosting</title>
</head>
<body>
    <main>
        <div class="container">
            
            <nav class="navigation">
                <ul class="nav-items">
                    <li class="logo"><a href="#">JM</a></li>
                    <li class="upload-btn"><a href=""></a>upload</li>
                    <li class="ads"><a href="#">advertise</a></li>
                </ul>
            </nav>
            
            <div class="main-content">
                <h1 class="main-header">Free and Simple Video Hosting</h1>
                <h2 class="sub-header">Get started without an account</h2>
                <input type="file" name="selected-file" id="file" multiple="true">
                <button type="submit">Submit</button>
            </div>

        </div>
    </main>
    <footer>Copyright &copy; JM 2024</footer>
</body>
</html>